@model IEnumerable<PlaneEncyclopedia.Models.PlaneMissilesMapper>

@{
    ViewData["Title"] = "Index";
}

<h1>Armament</h1>

<p>
    <a class ="btn btn-danger" asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Missile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Missile.Name)
            </td>
            <td>
               <a class = "btn btn-danger" asp-action="Delete" asp-route-missileId ="@item.MissileId" asp-route-planeId="@item.PlaneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
